<div class="px-4 py-8">
  <h1 class="text-2xl font-bold mb-8">Search Scores By Registration Number</h1>
  <div class="flex flex-col rounded-lg bg-white p-4 shadow">
    <span class="my-4 text-xl font-bold">User Registration</span>
    <%= form_with url: student_scores_search_path, method: :post do |form| %>
      <div class="mb-4">
        <%= form.label :sbd, "Registration Number", class: "block text-gray-700 text-sm font-bold mb-2" %>
        <div class="flex flex-col md:flex-row gap-2">
          <%= form.text_field :sbd, class: "appearance-none border border-gray-300 min-w-[400px] rounded py-2 px-3 text-gray-700 leading-tight", placeholder: "Enter registration number" %>
          <%= form.submit "Submit", class: "bg-black text-white px-4 py-2 rounded" %>
        </div>
      </div>
    <% end %>
  </div>
    <%= render partial: 'student_scores/student_score', locals: { student_score: @student_score } %>
</div>
