<!DOCTYPE html>
<html>
<head>
  <title>GScores</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="overflow-y-hidden bg-gray-100 h-[100vh] min-w-[400px]" data-controller="navbar">
<%= render "layouts/header" %>

<main class="flex h-full w-full flex-row mt-[100px]">

    <%= render "layouts/sidebar" %>

  <div class="flex h-screen w-full flex-col overflow-y-scroll pb-[200px]">
    <div class="fixed inset-0 z-10 hidden bg-black bg-opacity-25 opacity-0 transition-opacity duration-300 ease-linear"
         data-navbar-target="overlay">
    </div>
      <%= render "layouts/notice" %>
    <%= yield %>
  </div>


</main>
</body>
</html>
