<!DOCTYPE html>
<html>
<head>
  <title>GScores</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-gray-100 h-[100vh] min-w-[400px] overflow-scroll" data-controller="navbar">
<%= render "layouts/header" %>

<main class="flex flex-row h-full w-full">
  <div class="hidden absolute inset-0 bg-black bg-opacity-50 z-40" data-navbar-target="overlay" data-action="click->navbar#close"></div>

  <div class="h-screen min-h-[1980px]">
    <%= render "layouts/sidebar" %>
  </div>

  <div class="flex flex-col w-full h-screen overflow-y-scroll">
    <%= render "layouts/notice" %>
    <%= yield %>
  </div>


</main>
</body>
</html>
